.container {
    color:black;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.container2 {
    color:black;
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
}

.content {
    width: 45%;
    padding: 20px;
    margin: 100px;
}

.image-wrapper {
    position: relative;
    width: 55%;
    height: 100%;
    overflow: hidden;
}

.image-wrapper img {
    width: 80%;
    height: auto;
    object-fit: contain;
    margin: 50px;
    border-radius: 14.5px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .content {
        width: 100%;
    }

    .image-wrapper {
        width: 100%;
        height: auto;
        max-height: 300px;
    }
}
