* {
    font-family: 'Roboto', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* font-family: 'Anton', sans-serif; */
@font-face {
font-family: 'supermario';
src: url('fonts/supermario.ttf') format('truetype');
}
@font-face {
font-family: 'spongebob';
src: url('fonts/spongebob.ttf') format('truetype');
}
@font-face {
font-family: 'square';
src: url('fonts/square.ttf') format('truetype');
}
@font-face {
font-family: 'ourland';
src: url('fonts/ourland.ttf') format('truetype');
font-weight: bold;
}
* {
padding: 0;
margin: 0;
}

body {
font-family: 'Roboto', sans-serif;
font-size: 16px;
color: #333;
margin: 0;
padding: 0;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

h1 {
font-size: 32px;
}

h2 {
font-size: 24px;
}

h5 {
font-size: 18px;
}

p {
line-height: 1.5;
text-align: justify;
}

a {
color: #51999F;
font-weight: bold;
}
