@font-face {
font-family: 'novamono';
src: url('fonts/novamono.ttf') format('truetype');
}
@font-face {
font-family: 'graphik';
src: url('fonts/graphik.otf') format('truetype');
}
@font-face {
font-family: 'supermario';
src: url('fonts/supermario.ttf') format('truetype');
}
@font-face {
font-family: 'minecraft';
src: url('fonts/minecraft.ttf') format('truetype');
}
@font-face {
font-family: 'helpme';
src: url('fonts/helpme.ttf') format('truetype');
}
@font-face {
font-family: 'graffiti';
src: url('fonts/graffiti.otf') format('truetype');
}
@font-face {
font-family: 'square';
src: url('fonts/square.ttf') format('truetype');
}
@font-face {
font-family: 'ourland';
src: url('fonts/ourland.ttf') format('truetype');
font-weight: bold;
}
@font-face {
font-family: 'vanilla';
src: url('fonts/vanilla.otf') format('truetype');
font-weight: normal;
}
.thrsixone {
width: 299px; /* Thay đổi kích thước theo yêu cầu */
height: 86px;
perspective: 1000px; /* Tạo khả năng nhìn toàn cảnh 3D */
overflow: hidden; /* Ẩn bất kỳ phần nào của ảnh nằm ngoài khu vực chứa */
}
.rotate {
transition: transform 0.5s ease; /* Tạo hiệu ứng chuyển động mượt mà */
}

.rotate:hover {
transform: rotateX(360deg); /* Xoay 360 độ theo trục X */
}

* {
padding: 0;
margin: 0;
}

body {
font-family: 'graphik';
font-size: 16px;
color: #333;
margin: 0;
padding: 0;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

main {
border-radius: 5px;
margin: 50px auto;
padding: 20px;
background-color: #fff;
max-width: 700px;
box-shadow: 0 0 10px rgba(0,0,0,0.2);
text-align: justify;
}

h1 {
font-size: 32px;
margin-top: 0;
margin-bottom: 20px;
text-align: center;
}

h2 {
font-size: 24px;
margin-top: 20px;
margin-bottom: 10px;
}

h5 {
font-size: 18px;
margin-top: 0;
}

p {
margin-top: 0;
margin-bottom: 20px;
line-height: 1.5;
text-align: justify;
}

a {
color: #51999F;
font-weight: bold;
}
